
/* jua-regular - latin_korean */
@font-face {
  font-family: 'Jua';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/jua-v8-latin_korean-regular.eot'); /* IE9 Compat Modes */
  src: local('Jua Regular'), local('Jua-Regular'),
       url('../fonts/jua-v8-latin_korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/jua-v8-latin_korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/jua-v8-latin_korean-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/jua-v8-latin_korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/jua-v8-latin_korean-regular.svg#Jua') format('svg'); /* Legacy iOS */
}


/* cute-font-regular - latin_korean */
@font-face {
  font-family: 'Cute Font';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/cute-font-v8-latin_korean-regular.eot'); /* IE9 Compat Modes */
  src: local('Cute Font Regular'), local('CuteFont-Regular'),
       url('../fonts/cute-font-v8-latin_korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/cute-font-v8-latin_korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cute-font-v8-latin_korean-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/cute-font-v8-latin_korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/cute-font-v8-latin_korean-regular.svg#CuteFont') format('svg'); /* Legacy iOS */
}

@media (max-width: 767px) {
  .mainContainer {
    width: 100%;
  }
  .col-mb-class{
  	display: inline-block;
  }
  .col-pc-class{
  	display: none;
  }
}
@media (min-width: 768px) {
  .mainContainer {
    width: 750px;
  }
  .col-mb-class{
  	display: inline-block;
  }
  .col-pc-class{
  	display: none;
  }
}
@media (min-width: 992px) {
  .mainContainer {
    width: 970px;
  }
  .col-mb-class{
  	display: none;
  }
  .col-pc-class{
  	display: block;
  }
}
@media (min-width: 1200px) {
  .mainContainer {
    width: 1300px;
  }
  .col-mb-class{
  	display: none;
  }
  .col-pc-class{
  	display: block;
  }
}
.mainContainer {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.mainContainer-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.mainContainer > .navbar-header,
.mainContainer-fluid > .navbar-header,
.mainContainer > .navbar-collapse,
.mainContainer-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .mainContainer > .navbar-header,
  .mainContainer-fluid > .navbar-header,
  .mainContainer > .navbar-collapse,
  .mainContainer-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  .navbar > .mainContainer .navbar-brand,
  .navbar > .mainContainer-fluid .navbar-brand {
    margin-left: -15px;
  }
}
.mainContainer .jumbotron,
.mainContainer-fluid .jumbotron {
  border-radius: 6px;
}
.jumbotron .mainContainer {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .mainContainer .jumbotron,
  .mainContainer-fluid .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
  }
}
.mainContainer:before,
.mainContainer:after,
.mainContainer-fluid:before,
.mainContainer-fluid:after {
  display: table;
  content: " ";
}

.col-mainFotter-box{
	width : 25%;
	float : left;
}

.mainImageContainer{
	width:100%; 
	height:470px;
	background-position: bottom; 
	background-image: url('/img/mainBanner/bg.png'); 
	background-size: 100% 470px; 
	margin-left: -15px;
	margin-right: -15px;
}

.mainImageContainer img{
	 width:50%; 
	 height: 350px;
}

@media (max-width: 768px) {
.mainImageContainer{
	width:100%; 
	height:390px;
	background-position: bottom; 
	background-image: url('/img/mainBanner/bg.png'); 
	background-size: 100% 470px; 
	margin-left: 0px;
	margin-right: 0px;
}
}

#blinkEle{
	font-family : 'Jua', sans-serif;
	font-size: 30px;
	line-height: 1;
}
